<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Partners for Chile</h2>
        <h3 class="oe_slogan">Autocompletes partner information using the Konos API</h3>
    </div>
</section>
