<ul>
</ul>
<ol>
</ol>
<div class="o_layout o_basic_theme" style="color: black; font-size: 14px; padding: 0px; margin: 0px; background-color: white; min-height: 100%; width: 94%; box-sizing: content-box; overflow: hidden;">
  <div class="oe_structure">
    <div class="o_mail_no_options" style="text-align: center;">
      <b style="color: black; font-size: 14px;"><font style="color: rgb(57, 123, 33); font-size: 24px;">Auto Rounding Payment for Point of Sales</font></b>
      <b style="color: black; font-size: 14px;"><font style="color: rgb(57, 123, 33); font-size: 24px;"><br></font><font style="color: rgb(57, 123, 33); font-size: 24px;">with multiple rounding methodologies</font></b>
      <font style="color: black; font-size: 24px;"><br></font>
      <font style="color: rgb(0, 0, 255); font-size: 18px;"><br><div style="text-align: left;"><b>Introduction:</b></div></font>
      <div style="text-align: left;">
        <font style="color: black; font-size: 18px;">When making the payment with Cash, sometimes we need to round the payment amount to fit with the actual payment from the customers (Customer sometimes cannot pay exactly the number shown in the payment screen because the order is applied with a percent discount)</font>
        <font style="color: black; font-size: 18px;">This app works with Point of Sales module to support auto rounding the payment amount with multiple method. The payment rounding can be configured in each payment method to be more flexible (Some payment methods do not require the amount to be rounded, for example: credit card, bank transfer, etc)</font>
        <br>
        <br>
        <br>
        <span style="color: rgb(0, 0, 255); font-size: 18px; font-weight: bolder;">Module Feature:</span>
        <br>
        <br>
        <font style="color: black; font-size: 18px;">Payment Rounding can be easily configured in each payment method (Journal). A note that this option can only be shown in Point of Sale Payment method (Use in Point of Sale is ticked)</font>
        <br>
        <br>
        <span style="color: black; font-size: 14px; width: 1151.01px;"><img class="d-block img-fluid mx-auto o_we_custom_image shadow" src="images/Screen Shot 2019-06-28 at 9.17.52 PM.png?access_token=e3341677-13d4-48ed-ab1e-bdc9f2b6c058" data-original-title="" title="" aria-describedby="tooltip945203" style="width: 1151.01px;"></span>
        <br>
        <br>
        <div style="text-align: center;">
          <h1 style="margin: 0px 0px 0.5rem; font-size: 2.1875rem; color: black; line-height: 1.2; font-weight: 500;">
            <font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33); font-weight: bolder;">SETTINGS</font>
            <font style="color: rgb(57, 123, 33); font-size: 14px; font-weight: bolder; background-color: rgb(206, 198, 206);"><br></font>
            <font style="background-color: rgb(206, 198, 206); font-size: 18px;"><br><div style="text-align: left;"><b style="font-size: 18px;">Rounding method: </b><span style="font-size: 18px;">The methodology&nbsp;applied for rounding (Check the Support Multiple Rounding&nbsp;methodologies part)&nbsp;</span><br><b>Rounding factor: </b>The minimal currency unit applied for rounded. For example, if we accept 50 cents coin as the minimum unit, the rounding factor will be 0.05.<br><b>Journal for Diff Amount: </b>Config the journal used for recording the different amount.<br><b>Show Journal on Payment: </b>to show or not to show the Journal for Diff amount on Payment screen.</div></font>
            <font style="color: rgb(57, 123, 33); font-size: 14px; font-weight: bolder; background-color: rgb(206, 198, 206);"><br></font>
          </h1>
          <h1 style="color: black; font-size: 2.1875rem; margin: 0px 0px 0.5rem; line-height: 1.2; font-weight: 500;">
            <b><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);"><br></font></b>
          </h1>
          <h1 style="color: black; font-size: 2.1875rem; margin: 0px 0px 0.5rem; line-height: 1.2; font-weight: 500;">
            <b><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);">SUPPORT MULTIPLE ROUNDING METHODOLOGIES</font></b>
          </h1>
          <h1 style="color: black; font-size: 2.1875rem; margin: 0px 0px 0.5rem; line-height: 1.2; font-weight: 500;">
            <b><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);"><br></font></b>
            <img class="img-fluid o_we_custom_image rounded shadow" src="images/Screen Shot 2019-06-28 at 10.47.04 PM.png?access_token=3c9ff13a-cf62-438a-bfdc-a09a4ace77f7" data-original-title="" title="" aria-describedby="tooltip117613" style="width: 739.25px;">
            <b><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);"><br></font></b>
          </h1>
          <ul style="color: black; font-size: 14px;">
            <li>
              <h1 style="margin: 0px 0px 0.5rem; font-size: 2.1875rem; color: black; line-height: 1.2; font-weight: 500;">
                <div style="text-align: left;">
                  <font style="font-size: 18px;"><b>This app support 4 rounding methods includes:</b></font>
                  <font style="font-size: 18px;"><br></font>
                  <font style="font-size: 18px;">-<b> Rounding Up:</b> Always rounding up based on the rounding factor.<br>- <b>Rounding Down:</b> Always rounding down based on the rounding factor.<br>- <b>Rounding Off (Priority: Up):</b> Round off the amount based on the Rounding factor. In case the value is in the middle of rounding up and down, rounding up will take the higher priority.<br></font>
                  <font style="font-size: 18px;">- <b>Rounding Off (Priority: Down): </b>Round off the amount based on the Rounding factor. In case the value is in the middle of rounding up and down, rounding down will take the higher priority.<br></font>
                  <font style="font-size: 18px;"><br></font>
                  <font style="font-size: 18px;"><table cellspacing="0" border="0"><colgroup width="159"></colgroup><colgroup width="180"></colgroup><colgroup width="234"></colgroup><colgroup width="348"></colgroup><colgroup width="379"></colgroup><tbody><tr><td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign="bottom" bgcolor="#3C78D8"><b><font size="5" color="#FFFFFF">Initial Value</font></b></td><td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" bgcolor="#3C78D8"><b><font size="5" color="#FFFFFF">Rounding Up</font></b></td><td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" bgcolor="#3C78D8"><b><font size="5" color="#FFFFFF">Rounding Down</font></b></td><td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" bgcolor="#3C78D8"><b><font size="5" color="#FFFFFF">Rounding Off (Priority: Up)</font></b></td><td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" bgcolor="#3C78D8"><b><font size="5" color="#FFFFFF">Rounding Off (Priority: Down)</font></b></td></tr><tr><td style="border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" height="21" valign="bottom" sdval="2.34" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.34</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.4" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.40</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.3" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.30</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.3" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.30</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.3" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.30</font></td></tr><tr><td style="border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" height="21" valign="bottom" sdval="2.35" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.35</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.4" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.40</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.3" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.30</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.4" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.40</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.3" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.30</font></td></tr><tr><td style="border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" height="21" valign="bottom" sdval="2.36" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.36</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.4" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.40</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.3" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.30</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.4" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.40</font></td><td style="border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); text-align: right;" valign="bottom" sdval="2.4" sdnum="1033;0;&quot;$&quot;#,##0.00"><font size="5">$2.40</font></td></tr></tbody></table></font>
                </div>
              </h1>
            </li>
          </ul>
          <h1 style="color: black; font-size: 2.1875rem; margin: 0px 0px 0.5rem; line-height: 1.2; font-weight: 500;">
            <font style="font-size: 24px;">Example of how the payment amount is rounded</font>
          </h1>
          <h1 style="color: black; font-size: 2.1875rem; margin: 0px 0px 0.5rem; line-height: 1.2; font-weight: 500;">
            <font style="font-size: 24px;"><br></font>
          </h1>
          <h1 style="margin: 0px 0px 0.5rem; font-size: 2.1875rem; color: black; line-height: 1.2; font-weight: 500;">
            <span style="font-weight: bolder;"><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);">RUNNING ON POINT OF SALES</font><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);"><br></font><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);"><br></font></span>
            <img class="img-fluid o_we_custom_image shadow" src="images/Screen Shot 2019-06-28 at 11.36.53 PM.png?access_token=85c26892-8e83-4dc1-b3ab-10e046e481ea" data-original-title="" title="" aria-describedby="tooltip228646" style="width: 1058.42px;">
            <span style="font-weight: bolder;"><font style="background-color: rgb(206, 198, 206); color: rgb(57, 123, 33);"><br></font></span>
          </h1>
          <h1 style="margin: 0px 0px 0.5rem; font-size: 2.1875rem; color: black; line-height: 1.2; font-weight: 500;">
            <font style="font-size: 24px;">Rounding applied for Cash</font>
          </h1>
          <h1 style="margin: 0px 0px 0.5rem; font-size: 2.1875rem; color: black; line-height: 1.2; font-weight: 500;">
            <br>
          </h1>
          <h1 style="margin: 0px 0px 0.5rem; font-size: 2.1875rem; color: black; line-height: 1.2; font-weight: 500;">
            <img class="img-fluid o_we_custom_image shadow" src="images/Screen Shot 2019-06-28 at 11.37.09 PM.png?access_token=9e10616e-f13e-4286-8833-02e746b4b8dc" data-original-title="" title="" aria-describedby="tooltip135271" style="width: 1044.84px;">
            <br>
          </h1>
          <h1 style="text-align: center; color: black; font-size: 2.1875rem; margin: 0px 0px 0.5rem; line-height: 1.2; font-weight: 500;">
            <font style="font-size: 24px;">Credit card payment can be configured not to apply the rounding</font>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
