<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class='oe_container oe_dark'>
    <section class="oe_container oe_dark lead">
        <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#875A7B;">
                POS Email Receipt
            </h2>
            <h3 class="oe_slogan">
                When a customer places an order from your POS shop then sometimes he wishes that instead of getting a hard copy of the receipt he should get the same on his email address. So considering this we have implemented our module Odoo POS Email Receipt using which the seller can send an e-receipt to the customer instead of printing it. Also if a customer wishes to receive the receipt on a different email address, then, the seller can specify a different email address while the customer's primary email address still remains the same.
            </h3>
        </div>
        <div class="oe_row">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 25px;">
                        <i class="fa fa-mail-forward"></i> Features:</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Seller can send E-Receipts to his customers from POS.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            A customer sometimes may wish to receive the receipt on a different email address. In this case, seller can specify a different email while the customer's primary email still remains the same.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Seller also has an option to update the customer's primary email address while sending an E-Receipt.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <div id="my-tab-content" class="">
            <div class="active" id="queue_management_view_admin">
                <section class="oe_container oe_dark">
                    <div class="oe_row">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>POS Email Receipt</b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i><b>When A Customer Is Selected</b>
                                </div>
                                <p>
                                    <a href="screen1.jpg">
                                        <img class="img-border img-responsive thumbnail" src="screen1.jpg">
                                    </a>
                                </p>
                                <p>
                                    <a href="screen2.jpg">
                                        <img class="img-border img-responsive thumbnail" src="screen2.jpg">
                                    </a>
                                </p>
                                <p>
                                    <a href="screen3.jpg">
                                        <img class="img-border img-responsive thumbnail" src="screen3.jpg">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="oe_row">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>POS Email Receipt</b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i><b>When Customer Is Not Selected</b>
                                </div>
                                <p>
                                    <a href="screen4.jpg">
                                        <img class="img-border img-responsive thumbnail" src="screen4.jpg">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="oe_row">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>POS Email Receipt</b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i><b>Email Received At Customer's End</b>
                                </div>
                                <p>
                                    <a href="screen5.jpg">
                                        <img class="img-border img-responsive thumbnail" src="screen5.jpg">
                                    </a>
                                </p>
                                <p>
                                    <a href="screen6.png">
                                        <img class="img-border img-responsive thumbnail" src="screen6.png">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Complimentary Support</h2>
            <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related
                to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Help</a>
            </span>
            <img src="icon-support.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Support</a>
            </span>
            <img src="icon-features.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Request new Features</a>
            </span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=POS-Email-Receipt&url=https://apps.openerp.com/apps/modules/12.0/pos_email_order_receipt&uid=pos_email_order_receipt" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>