<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-family: 'Lato', 'Open Sans', 'Helvetica', Sans;    color: #444;">
            <h2 class="oe_slogan">Order Lines View and Advanced Search</h2>
            <h3 class="oe_slogan">Organized view and search facility for order lines view for Sales, Purchase, Invoicing and Manufacturing</h3>
            <p class='oe_mt32' style="font-size:18px;">
                By default odoo not provides order lines view for sales, purchase, invoicing and manufacturing. So jupical comes with new feature to display order line views like form view and you can filter lines by different filters and group by. Like status, order, date, product, order(Reference) etc.  
            </p>
            <center><div class="alert alert-warning" style="max-width:90%;">
                    This module is tested in Community and Enterprise version 12
            </div></center>
            <div class="col-md-12 mb32">
                <br/><p style="font-size: 18px;">After installation, Go to <b>Sales</b> module and there you can see one menu <b>Sale Lines</b> Click on it to view all order lines. Here you can filter lines by different parameter. </p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="one.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">You can filter lines by different parameter like <b>Status</b></p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="two.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">You can also apply group by for Invoice Status, Status, Product etc.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="three.png"/>
                </div><br/><br/>
            </div>

            <div class="col-md-12 mb32">
                <br/><p style="font-size: 18px;">Then, Go to <b>Purchases</b> and there you can see one menu <b>Purchase Lines</b> Click on it to view all order lines. Here you can filter lines by different parameter. </p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="four.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">You can filter lines by <b>Status</b></p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="five.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">You can also apply group by for Product, Vendor, Status, Date etc.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="six.png"/>
                </div><br/><br/>
            </div>

            <div class="col-md-12 mb32">
                <br/><p style="font-size: 18px;">Then, Go to <b>Invoicing</b> app and there you can see one menu <b>Invoice Lines</b> Click on it to view all order lines. Here you can filter line by different parameter. </p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="seven.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">You can apply group by for Invoice, Product, Customer, Date, Account etc.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="eight.png"/>
                </div><br/><br/>
            </div>

            <div class="col-md-12 mb32">
                <br/><p style="font-size: 18px;">Then, Go to <b>Manufacturing</b> and there you can see one menu named as <b>Bill of Material Lines</b> Click on it to view all order lines. Here you can filter line by different parameters. </p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="ten.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">You can apply group by <b>BOM</b>, <b>Product</b>, <b>Date</b> etc.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="eleven.png"/>
                </div><br/><br/>
                
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%"  src="twelve.png"/>
                </div><br/><br/>
            </div>


            <table style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2" style="font-size:16px; color:#24B2D5; font-weight:bold;" width="100%" align="center"><span class="fa fa-certificate fa-1x" style="color:#1f2327;">Do you need support on module? Please, Write us at <a href="mailto:hello@jupical.com">hello@jupical.com</a></span></td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2" style="font-size:16px; color:#24B2D5; font-weight:bold;" width="100%" align="center"><span class="fa fa-certificate fa-1x" style="color:#1f2327;">Our Services</span>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2">
                            <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Gap Analysis</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Implementation</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Integration</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Technical Training</span></td>
                                    </tr>
                                    <tr>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Offshore &amp; Onsite Development</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Support and Maintenance</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Hire Dedicated Odoo Developer</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Functional Training</span></td>
                                    </tr>
                                    <tr>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Mobile App Development</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Manual Testing</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Automated Testing</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Installation &amp; Hosting</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center"><span class="fa fa-certificate fa-1x" style="color:#1f2327;">Connect with us</span>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr colspan="2" align="center">
                        <td colspan="2" style="padding-top:9px;">
                            <a href="https://www.facebook.com/Jupical/" style="text-decoration:none;"><img src="fb.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="https://twitter.com/Jupical1" style="text-decoration:none;"><img src="twitter.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="http://www.jupical.com" style="text-decoration:none;"><img src="jupical.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="https://www.linkedin.com/company/jupicaltechnologies/" style="text-decoration:none;"><img src="in.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="https://www.youtube.com/channel/UC2x2iEL-oW3LrwmB3OO_3hQ/videos" style="text-decoration:none;"><img src="youtube.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td colspan="2" style="font-size:8px; color:#24B2D5; line-height:15px;padding-top:10px; text-align:justify;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
