<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">INVASwms Connector</h2>
        <h3 class="oe_slogan">Synchronize data between Odoo and Invas</h3>
    </div>
</section>
