<section class="oe_container oe_dark">
    <div class="oe_spaced">
		<div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 23px;background-color:#007678;">
			<center><b style="color:white;"> User Restrict Create Product</b></center>
		</div>


		<div class="panel panel-primary" id="wkid0" style="border-color: #528df3 !important;">
            <div class="panel-heading" style="background-color: #528df3 !important;>
		        <h3>
					<i class="fa fa-mail-forward"></i>Apps Features:
				</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>
						Restrict New create Product</li>
					<li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>
						Different user different access right are provide</li>
                </ul>
            </div>
        </div>

		<div class="alert alert-info" style="font-size: 21px;padding:1px;font-weight: 300;background-color:#007678;">
			<center><b style="color:white;"> PRoduct Form </b></h3></center>
		</div

        <div class="oe_span8">
			 Before restrict user 
            <div class="oe_demo oe_screenshot">
                    <img src="1_product.png">
            </div>
        </div>

		<div class="alert alert-info" style="font-size: 21px;padding:1px;font-weight: 300;background-color:#007678;">
			<center><b style="color:white;"> User Form </b></center>
		</div
        <div class="oe_span8">
            <div class="oe_demo oe_screenshot">
                    <img src="2_user_form.png">
            </div>
        </div>
		
		<div class="alert alert-info" style="font-size: 21px;margin-top:10px;padding:1px;font-weight: 300;background-color:#007678;">
			<center><b style="color:white;"> Product View  </b></center>
		</div
        <div class="oe_span8">
            <div class="oe_demo oe_screenshot">
                    <img src="3_produc_k.png">
            </div>
        </div>
        <div class="alert alert-info" style="font-size: 21px;margin-top:10px;padding:1px;font-weight: 300;background-color:#007678;">
			<center><b style="color:white;"> Product Form </b></center>
		</div
        <div class="oe_span8">
            <div class="oe_demo oe_screenshot">
                    <img src="4_product_form.png">
            </div>
        </div>
         <div class="alert alert-info" style="font-size: 21px;margin-top:10px;padding:1px;font-weight: 300;background-color:#007678;">
			<center><b style="color:white;"> Sale Order Form </b></center>
		</div
        <div class="oe_span8">
            <div class="oe_demo oe_screenshot">
                    <img src="5_slae_order.png">
            </div>
        </div>
        
        <div class="alert alert-info" style="font-size: 21px;margin-top:10px;padding:1px;font-weight: 300;background-color:#007678;">
			<center><b style="color:white;"> Purchase Order Form </b></center>
		</div
        <div class="oe_span8">
            <div class="oe_demo oe_screenshot">
                    <img src="6_po_order.png">
            </div>
        </div>
        
        
        

		<div class="alert alert-info" style="font-size: 21px;;margin-top:10px;padding:8px;font-weight: 300;background-color: rgb(113, 8, 55);"> 
			<center><b style="color:white;"> Support Your Business </b></center>
		</div
		 <div class="col-sm-12">
			<div class="col-sm-6">
		        <div class="oe_demo oe_picture oe_screenshot">
		                <img src="logo.png">
		        </div>
			</div>
			<div class="col-sm-6">
	        	<div>
		            <p >
		               If you need any help or more additional customization,<br/>
	than Contact Us.<br/>
		                Email: <a href="mailto:weblineapps@gmail.com" target="_top" style="color:#004460;">weblineapps@gmail.com</a> 
		                  
		        	</p>
	        	</div>
			</div>
        </div>
    </div>
</section>

