<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Disable Create</h2>
        <h3 class="oe_slogan">Disables <strong>Create and Edit...</strong> action for some fields.</h3>
    </div>
</section>
