.popup-split-product {
    padding: 3px !important;
    border-radius: 5px !important;
    background: rgba(255, 255, 255, 0.5);
    width: 715px !important;
}

.popup-split-product .title {
    margin: 0;
    padding: 20px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: solid 3px rgba(110, 200, 155, 1) !important;
}

.popup-split-product .popup-product-list {
    border-spacing: 0.5rem;
    border-collapse: collapse;
    width: 80%;
    float: left;
}

.popup-split-product .popup-product-list thead tr {
    font-size: 18px;
}

.popup-split-product .popup-product-list table {
    overflow-y: auto;
}

.popup-split-product .popup-product-list tbody tr {
    font-size: 14px;
    font-weight: normal !important;
    line-height: 3rem;
}

.popup-split-product .popup-product-list tbody tr:nth-child(even) {
    background: rgb(230, 230, 230);
}

.popup-split-product .header .btn {
    cursor: pointer;
    float: right;
    border: none !important;
    background: none !important;
}

.popup-split-product .footer .save .icon {
    float: left;
}

.popup-split-product .footer .save .text {
    float: left;
    margin-left: 8px;
    margin-top: -5px;
}
.rand_number_text{
	width: 100px !important;
	height: 31px !important;
	min-height: 10px !important;
	padding: 0px !important;
	text-align: center !important;
}