/* Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) */
/* See LICENSE file for full copyright and licensing details. */
/* License URL : <https://store.webkul.com/license.html/> */

.e-receipt-section{
    line-height: 32px;
    width: 173px;
    padding: 3px 13px;
    font-size: 30px;
    background: rgb(230, 230, 230);
    margin-left: 150px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 0px;
}
.edit-email{
    background: #f3f3f3;
    color: #6ec89b;
    font-size: 22px;
    padding: 5px 6px;
    position: relative;
    bottom: 4px;
    border-radius: 40%;
    display: none;
}
.edit-email:hover{
    background: #6ec89b;
    color: #f3f3f3;
}
.e-receipt-active{
    width: 218px;
}
.e-receipt-active .edit-email{
    display: inline;
}
.e-receipt-active .e-receipt-icon{
    color: #6ec89b;
}
.e-receipt-active .e-receipt-txt{
    color: #6ec89b;
    text-decoration: none;
}
.e-receipt-icon{
    color: #9c9c9c;
}
.e-receipt-txt{
    position: relative;
    font-size: 22px;
    bottom: 3px;
    text-decoration: line-through;
    color: #9c9c9c;
}
.wk-email-edit-popup {
    background-color: white;
    text-align: center;
    position: fixed;
    left: 33%;
    top: 21%;
    width: 400px;
    border-radius: 7px;
    box-shadow: 0px 4px 15.36px 0.64px rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    animation: jelly 0.4s ease-in-out;
    z-index: 500;
    padding: 10px;
    color: #5d6361;
}
.email-update-cancel{
    font-size:25px;
    float:right;
    margin-top:-5px;
    cursor:pointer
}
.email-edit-popup-body{
    margin-top: 8%;
    margin-bottom: 3%;
}
.email-edit-input{
    padding: 5px;
    font-size: 18px;
    width: 82%;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #b3b3b3;
    outline: none;
    color: #5d6361;
}
.email-popup-title{
    font-weight: bold;
    font-size:30px;
}

.button.wk-update-email {
    background-color: #6dc89b;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 9px 10px;
    margin-top: 15px;
    cursor: pointer;
    float: right;
    border: none;
}
.checkbox-container{
    float: left;
    margin-top: 25px;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    font-weight: bold;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-checkmark{
    position: absolute;
    top: -2px;
    left: 4px;
    height: 17px;
    width: 17px;
    border: 2px solid #5d6361;
}

.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

.checkbox-container .checkbox-checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #5d6361;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@keyframes jelly {
    0% {
      transform: translateY(0px) scale(0.7);
      opacity: 0;
    }
    70% {
      transform: translateY(5px) scale(1.05);
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scale(1);
      opacity: 1;
    }
}
