<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width: 200px">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 12 POS Gift Receipt</h2>
            <h3 class="oe_slogan">Allow user to generate Gift Receipt from POS interface</h3>
            <br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Enterprise
                Edition. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
            <ul>
                <li style="color:#30054D;font-weight:bold;">Enable Configuration to use Gift Receipt. </li>
            </ul>
            <img style="max-width: 75%;" src="1.pos_config.png"><br /><br />
            <img style="max-width: 75%;" src="2.select_gift_product.png"><br /><br />
            <img style="max-width: 75%;" src="3.split_button_popup.png"><br /><br />
            <img style="max-width: 75%;" src="main_screenshot.png"><br /><br />
            <ul>
                <li style="color:#30054D;font-weight:bold;">Gift receipt looks like this.</li>
            </ul>
            <img style="max-width: 75%;" src="4.main_receipt.png"><br /><br />
            <img style="max-width: 75%;" src="5.split_receipt.png"><br /><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Email us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>